@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap');

body{
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 15% auto 5%;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
}
#navigation{
    height: 100%;
    /* border: 1px solid; */
    display: grid;
    grid-template-rows: 200px repeat(4,150px);
    /* position: fixed; */
}
/* #navigation div{
    border: 1px solid;
} */
#dp{
    background-image: url(../images/WhatsApp\ Image\ 2022-12-28\ at\ 10.53.56.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.main{
    display: grid;
    grid-template-rows:2fr 1fr;
    cursor: pointer;
}
.main:hover{
    background-color: #FFCE29;
}
#icon{
    background-image: url(../images/user.png);
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
}
#icon1{
    background-image: url(../images/job\ role.png);
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
}
#icon2{
    background-image: url(../images/code.png);
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
}
#icon3{
    background-image: url(../images/phone.webp);
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
}
#caption{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}
#mainCaption{
    text-align: center;
    font-weight:bold;
    font-family: Ubuntu;
    text-transform: uppercase;
}
#subCaption{
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: grey;
    text-transform:uppercase;
}
#mainContent{
    /* border: 1px solid; */
    height: fit-content;
    display: grid;
    grid-template-rows: auto;
    animation-name: topToBottom;
    animation-duration: 4s;
}
@keyframes topToBottom {
    0%   {transform: translate(0px, -500px);}
    100% {transform: translate(0px, 0px);}
}
.contentAbout{
    display: block;
    transition: 1s;
}
#name{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin-top: 100px;
}
#designation{
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
    color: gray;
}
#line{
    height: 10px;
    width: 30px;
    /* border: 1px solid; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    background-color: #FFCE29;
}
#heading{
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    text-transform: uppercase;
}
#desc{
    width: 450px;
    /* border: 1px solid; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    font-family: monotype corsiva;
    text-align: center;
    line-height: 25px;
}
#myInfo{
    display: grid;
    grid-template-columns: 1fr 20px 1fr;
    grid-gap: 10px;
    margin-top: 50px;
}
/* #myInfo div{
    border: 1px solid;
} */
#left{
    text-align: right;
    margin-top: 30px;
}
#left div{
    margin-top: 5px;
    font-weight: bold;
}
#pin{
    width: 100%;
    clip-path: circle(40%);
    background-color: black;
    margin-right: auto;
    margin-left: auto;
}
#vLine{
    height:100%;
    width: 1px;
    background-color: grey;
    margin-right: auto;
    margin-left: auto;
}
#right{
    text-align: left;
    margin-top: 30px;
}
#right div{
    margin-top: 5px;
}
.resumeContent{
    display: none;
}
#institute{
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    color: gray;
}
#duration{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-weight: bold;
    color: gray;
    border: 1px solid springgreen;
    width: max-content;
    padding: 10px;
}
#courseDetails{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 60px;
    grid-gap: 50px;
    text-align: center;
}
#front div,#back div{
    margin-top: 10px;
    font-weight: 900;
    font-size: large;
}
#front{
    font-size: 25px;
    font-weight: bold;
}
#back{
    font-size: 25px;
    font-weight: bold;
}
hr{
    height: 2px;
    background-image: linear-gradient(to right, white, grey, white);
    border: none;
}
#courseName{
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    color: #252525;
    font-size: large;
}
#academicDetails{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 10px;
    height: max-content;
    grid-gap: 10px;
    margin-top: 20px;
}
#academicDetailsMain{
    /* border: 1px solid springgreen; */
    padding: 5px;
    box-shadow: 6px 6px 13px white,
                6px 6px 13px black;
    background-color: #ecf0f3;
    border-radius: 10px;
}
#courseDuration{
    font-size: large;
    font-weight: bold;
    color: gray;
}
#academicDesc{
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* margin-top: 10px; */
}
#names{
    margin-top: 10px;
    font-weight: bold;
}
#values{
    margin-top: 10px;
    text-align: left;
}
.works{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    margin-top: 70px;
    display: none;
}
#company{
    width: 60%;
    height: 300px;
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/Screenshot\ \(42\).png);
    background-size: 100% 100%;
    transition: 0.5s;
}
#baseClone{
    width: 60%;
    height: 300px;
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    background-image: url(../images/Screenshot\ \(43\).png);
    background-size: 100% 100%;
    transition: 0.5s;
}
#company:hover, #baseClone:hover{
    box-shadow: 0px 0px 3px black;
    transform: scale(1.1);
}
.contactMe{
    margin-top: 70px;
    display: none;
}
#call{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
#dial{
    margin-left: 20px;
    text-decoration: none;
    color: inherit;
    border: 2px solid springgreen;
    padding: 20px;
    font-family: ubuntu;
    text-shadow: -2px 2px 3px black;
}
#dialMobile{
    display: none;
}
#dial:hover{
    background-color: springgreen;
    color: white;
}
#or{
    margin-top: 70px;
    text-align: center;
    font: bold 20px sans-serif;
}
#mail{
    margin-top: 70px;
    text-align: center;
    font: bold 20px sans-serif;
}
#sendMessage{
    margin-top: 70px;
    text-align: center;
    font: bold 20px sans-serif;
}
#messageForm{
    display: grid;
    grid-template-rows:1fr 2fr;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    /* border: 1px solid; */
    margin-right: auto;
    margin-left: auto;
}

#clientName, #clientMail{
    width: 80%;
    height: 50px;
    background-color: #ecf0f3;
    border: none;
    box-shadow: inset 6px 6px 13px white,
                inset 6px 6px 13px black;
    border-radius: 20px;
    font-size: 20px;
    color: green;
    text-align: center;
}
#sendBtn{
    text-align: center;
}
#btn{
    height: 50px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    background-color: #ecf0f3;
    border: none;
    box-shadow: 6px 6px 13px white,
                6px 6px 13px black;
    border-radius: 20px;
}
/* #btn:hover{
    background-color: #ecf0f3;
    border: none;
    box-shadow: inset -6px -6px 13px white,
                inset 6px 6px 13px black;
    border-radius: 20px;
} */
#message{
    grid-column: 1/ span 2;
}
textarea{
    height: 200px;
    width: 100%;
    background-color: #ecf0f3;
    border: none;
    box-shadow: inset 6px 6px 13px white,
                inset 6px 6px 13px black;
    border-radius: 20px;
    font-size: 20px;
    color: green;
    padding-left: 10px;
}
#social{
    /* border: 1px solid; */
    height: fit-content;
    display: grid;
    grid-template-rows:50px 50px 50px 230px ;
    grid-gap:1px;
}
/* #social div{
    border: 1px solid;
} */
#fb{
    background-image: url(../images/facebook.webp);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FFCE29;
    cursor: pointer;
}
#insta{
    background-image: url(../images/instagram.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FFCE29;
    cursor: pointer;
}
#in{
    background-image: url(../images/linkedIn.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FFCE29;
    cursor: pointer;
}
#copyright{
    background-color: #252525;
    color: white;
}
#copyright div{
    writing-mode:vertical-lr;
    text-orientation:sideways;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
#tag{
    font-family: cursive;
}
#eventHead{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
}
#events{
    /* text-align: center; */
    font-size: 25px;
}
ul{
    /* border: 1px solid;  */
    width: fit-content; 
    margin-right: auto; 
    margin-left: auto;
}
li{
    padding: 10px;
}


@media screen and (max-width:650px) {
    .container{
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-rows: 100px auto 50px 100px;
        grid-template-columns: 1fr;
    }
    #navigation{
        display: grid;
        grid-template-columns: 100px repeat(4, 1fr);
        grid-template-rows: 100px;
        height: min-content;
        padding-top: 10px;
        padding-bottom: 10px;
        /* padding-left: 15px; */
        position: fixed;
        /* border: 1px solid; */
        background-color: #ecf0f3;
        width: 100%;
        border-radius: 0px 0px 20px 20px;
        box-shadow: 3px 3px 3px grey;
        z-index: 1;
    }
    #dp{
        background-image: url(../images/WhatsApp\ Image\ 2022-12-28\ at\ 10.53.56.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50%;
    }
    .main{
        width: 70px;
        /* margin-left: 10px; */
        border-radius:10%;
    }
    #about{
        margin-left: 5px;
    }
    #icon{
        background-image: url(../images/user.png);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
    }
    #icon1{
        background-image: url(../images/job\ role.png);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
    }
    #icon2{
        background-image: url(../images/code.png);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
    }
    #icon3{
        background-image: url(../images/phone.webp);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
    }
    #caption{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }
    #mainCaption{
        text-align: center;
        font-weight:bold;
        font-family: Ubuntu;
        text-transform: uppercase;
        font-size: small;
    }
    #subCaption{
        text-align: center;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
        color: grey;
        text-transform:uppercase;
    }
    #mainContent{
        /* border: 1px solid; */
        height: fit-content;
        display: grid;
        grid-template-rows: auto;
    }
    #desc{
        width: 100%;
        /* border: 1px solid; */
        /* margin-left: auto;
        margin-right: auto; */
        margin-top: 30px;
        /* padding-left: 10px; */
        font-family: monotype corsiva;
        text-align: center;
        line-height: 25px;
    }
    #social{
        /* border: 1px solid; */
        height: fit-content;
        display: grid;
        grid-template-rows:40px;
        grid-template-columns: repeat(3,1fr) 4fr;
        grid-gap:1px;
        margin-top: 50px;
    }
    #copyright div{
        writing-mode:horizontal-tb;
        text-orientation:inherit;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        text-align: center;
    }
    #courseDetails{
        display: grid;
        grid-template-columns:1fr;
        margin-top: 60px;
        grid-gap: 50px;
        text-align: center;
    }
    #front, #back{
        font-size: 35px;
    }
    #academicDetails{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 10px;
        height: max-content;
        grid-gap: 10px;
        margin-top: 20px;
        padding-left: 20px;
    }
    #company, #baseClone{
        height: 200px;
    }
    #dial{
        display: none;
    }
    #dialMobile{
        margin-left: auto;
        margin-right: auto;
        text-decoration: none;
        width: fit-content;
        margin-top: 10px;
        color: inherit;
        border: 2px solid springgreen;
        padding: 20px;
        font-family: ubuntu;
        text-shadow: -2px 2px 3px black;
        display: block;
    }
    #clientName, #clientMail{
        font-size: 15px;
    }
}